<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paitoanderson.stepcounter">

    <!-- Hardware Feature Required for Step Counter to function -->
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />

    <!-- Permission Required for Starting the Step Counter at Boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- Activity for Starting Step Counter -->
        <activity
            android:name="com.paitoanderson.stepcounter.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receiver for Starting Step Counter on Boot -->
        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Receiver for Notification Buttons -->
        <receiver android:name=".receivers.NotificationReceiver" />

        <!-- Service for Counting Steps -->
        <service
            android:name=".services.StepCounter"
            android:label="Step Counter Service" />
    </application>
</manifest>