*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 1.5rem;
  background-color:lightsteelblue;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.formBox input{
  padding: 12px 12px;
  width: 400px;
  margin-right: 4px;
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
}
.formBox button{
  font-size: 1.2rem;
  padding: 12px 12px;
  border-radius: 4px;
  border: none;
}
.warning{
  color: crimson;
}