body{
    background-color: black;
    color: black;
    background: black;
}

.loader-line {
    width: 320px;
    height: 3px;
    left: 29% !important;
    top: 57% !important;
    position: relative;
    

    overflow: hidden;
    background-color: blue;
    margin: 100px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 3px;
    width: 40%;
    background-color: white;
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear 7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}.loader-line1 {
    width: 300px;
    height: 3px;
    left: 28% !important;
    top: 0% !important;
    position: relative;
    top: 0px;

    overflow: hidden;
    background-color: blue;
    margin: 100px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.loader-line1:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 3px;
    width: 40%;
    background-color: white;
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear 7;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 80%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}



    .btn{
        padding: 27px;
        font-size: 1.5rem;
        border-radius: 30px;
        color: #03A062;
        background-color: black;
       width: 300px;
       position: relative;
       left: 39rem;
       top: 45rem;
       border-color: grey;
    }



    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        background: rgb(223,223,223);
        font-family: 'PT Sans', sans-serif;
    }
    
    .profile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0 30rem;
    }
    
    .profile-card {
        flex: 1 1 30%;
        max-width: 300rem;
        background: #fff;
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0 0 2px 0 #ccc;
        transition: .3s;
    }
    
    .profile-card:hover {
        transform: scale(1.1);
        box-shadow: 0 0 25px -5px #ccc;
    }
    
    .profile-icon {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    
    .profile-name {
        font-size: 24px;
        font-weight: bold;
        margin: 25px 0 10px 0;
    }
    
    .profile-position {
        font-size: 14px;
        color: #777;
    }
    
    .button {
        margin: 40px 0 0 0;
        padding: 10px 30px;
        color: #999;
        text-decoration: none;
        border: 1px solid #999;
        border-radius: 4px;
    }
    
    .button:hover {
        color: #fff;
        background: #748dff;
        border: 1px solid #748dff;
    }
    
    @media screen and (max-width: 1000px) {
        .profile-name {
            font-size: 18px;
        }
    }
    
    @media screen and (max-width: 800px) {
        .profile-card {
            padding: 20px 15px;
        }
    
        .profile-name {
            font-size: 16px;
        }
    }

    .btn1{
        padding: 27px;
        font-size: 1.5rem;
        border-radius: 130px;
        color: #03A062;
        background-color: black;
       width: 200px;
       position: relative;
       right: -680px;
       top: 150px;
       border-color: grey;
    }

